body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  background-color: #f2f3f5;
  margin: 0;
  padding-top: 55px;
  color: #34495e;
  overflow-y: scroll;
}

a {
  color: #34495e;
  text-decoration: none;
}

.header {
  background-color: #20232a;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;

  a {
    position: relative;
    padding: 15px 25px;
    color: rgba(255, 255, 255, 0.8);
    line-height: 24px;
    display: inline-block;
    vertical-align: middle;
    font-weight: 300;
    letter-spacing: 0.075em;
    transition: all 0.5s;

    &.active,
    &:hover {
      color: #00d8ff;
    }
  }

  .github {
    display: inline-flex;
    color: #fff;
    font-size: 0.9em;
    padding-right: 0;
    margin-left: auto;

    img {
      margin-left: 2px;
    }
  }

  @media (max-width: 800px) {
    .header-content,
    a {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  @media (max-width: 600px) {
    a {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  @media (max-width: 500px) {
    .github {
      display: none;
    }
  }
}

.logo {
  width: 24px;
}

.header-content {
  display: flex;
  margin: 0px auto;
  max-width: 800px;
  box-sizing: border-box;

  > a {
    padding-left: 0;
  }
}

.inner {
  display: flex;
  overflow: auto hidden;

  a {
    &:focus {
      background-color: #373940;
    }

    &.active {
      font-weight: 400;

      &:focus {
        color: #fff;
      }

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate3d(-50%, 0, 0);
        width: 100%;
        height: 2px;
        background-color: #00d8ff;
      }
    }
  }
}

.view {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  opacity: 0;
  transition: all 0.2s ease;
}
