html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, minimal-ui")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="apple-touch-icon" sizes="120x120" href="/public/logo-120.png")
    link(rel="shortcut icon" sizes="48x48" href="/public/logo-48.png")
    title React Hacknews
  body
    #app
